html, body{
	height: 100%;
}
	
body{
	margin: 0px;
	padding: 0px;
	background: #E4C65D;
	font-family: 'Ebrima', arial;
	font-size: 12pt;
}

hr{
	width: 100%;
	color: #E85D4B;
	margin-top: 20px;
	opacity: 0.4;
}
	
h1{
	margin: 0;
	padding: 0;
	font-family: 'Cabin Sketch', sans-serif;
	color: #E85D4B;
}

.container{
	margin: 0px auto;
	width: 1200px;
}
	
/* Header */
#header-wrapper{
	padding: 32px 0px;
	background: #FFFFFF;
}

#header{
	position: relative;
}

/* Logo */
#logo h1{
	display: inline-block;
	font-size: 3.5em;
}


/* Form Style */
form{
	height: 100%;
	width: 100%;
	display: block;
	text-align: left
	padding: 50px;
}

input[type="text"]{
	height: 50px;
	width: 190px;
	margin-top: 16px;
}


.userchat{
	display: inline-block;
	text-align: left;
	float: right;
	border: 2px solid #E85D4B;
	padding: 10px;
	border-radius: 1opx;
}

.lynnchat{
	display: inline-block;
	text-align: left;
	float: left;
	border: 2px solid #E85D4B;
	padding: 10px;
	border-radius: 1opx;
}

/* Labels */
label{
	display: block;
	font-size: 16px;
	font-style: bold;
}

.button{
	display: inline-block;
	float: right;
	margin-top: 32px;
	padding: 12px 20px;
	background: #E85D4B;
	border-radius: 10px;
	font-size: 16px;
	color: #FFFFFF;
}

#footer{
	height: 62px;
	background-color: #E85D4B;
	overflow: hidden;
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
	color: #ffffff !important;
	font-size: 16px;
}

/* Containers */
#container2{
	padding: 64px 0px 48px 0px;
}

.footer-container{
	margin: 0px auto;
	width: 100%;
}


#container3{
	padding: 20px 0px;
	height: 62px;
	overflow: hidden;
	background: #E85D4B;
}

#container3 p{
	text-align: center;
	color: #ffffff !important;
	font-size: 16px;

}

