<!DOCTYPE html>
<html>
<head>
	<title>Lynn - Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>Login</h1>
			</div>
		</div>

		<hr>	

		{% if error %}
        		<p class="error"><strong>Error:</strong> {{ error }}
      	{% endif %}


		<div id="container2" class="container">
			<form action = "" method="post">
			<!--Username-->
			<label>Username</label>
			<input type="text" name="username" value="{{ request.form.username }}" required/>	
			<br><br>
			<!--Password-->
			<label>Password</label>
			<input type="password" name="password" value="{{ request.form.password }}" required/>
			<br>
			<p class="new">New User? <a href="{{ url_for('signup') }}">Register here</a></p>

			<!--Submit-->
			<input type="submit" class="button" value="Login"/>
		
			</form>

		</div>
	</div>

	<div id="container3" class="footer-container">
		<p>&copy;2019 Lynn - Lean On Me. All rights reserved.</p>
		
	</div>

</body>

</html>