<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<title>Lynn</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">
		{% extends "main_template.html" %}
		{% block content %}
		
		<!-- Main -->
			<div id="main">

				<!-- Lynn -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Lynn</strong>, a counselor chat bot<br />
								<p>Select the button below to begin a conversation!</p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Begin</a>
							</footer>

						</div>
					</section>
			</div>

		{% endblock %}

	</body>
</html>