<!DOCTYPE HTML>
<html lang="en" dir="ltr">
	<head>
		<title>Settings</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">
		{% extends "main_template.html" %}
		{% block content %}
		<!-- Main -->
			<div id="main">

				<!-- Lynn -->
					<section id="top" class="one dark cover">
						<div class="container">

							
						</div>
					</section>
			</div>

		{% endblock %}

	</body>
</html>