<!DOCTYPE HTML>
<html>
	<head>
		<title>Settings</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="Avatar background" /></span>
							<h1 id="title">Ruby Atieno</h1>
							<p>Content Person</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html" id="top-link"><span class="icon fa-home">Home</span></a></li>
								<li><a href="lynn.html" id="portfolio-link"><span class="icon fa-th">Lynn</span></a></li>
								<li><a href="friends.html" id="about-link"><span class="icon fa-user">Friends</span></a></li>
								<li><a href="helpcenter.html" id="about-link"><span class="icon fa-user">Help Center</span></a></li>
								<li><a href="settings.html" id="contact-link"><span class="icon fa-envelope">Settings</span></a></li>
							</ul>
						</nav>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Settings -->
					<section id="top" class="one dark cover">
						<div class="container">

							
						</div>
					</section>
			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy;2019 Lynn - Lean On Me. All rights reserved.</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>